.circular-progress {
    display: block;
    background: transparent;
  }
  
  .countdown-circle-wrapper {
    position: absolute;

  }
  
  .offer-label-text {
    color: #cccccc;
    font-size: 13px;
    margin-top: 6px;
  }
  
  .active-segment {
    transition: stroke 0.3s ease;
    filter: drop-shadow(0 0 3px currentColor);
  }
  .circular-progress text {
    background: black;
    border-radius: 50%;
  }
  