
.header{
    display: flex;
    position: fixed;
    z-index: 100;
width: 100%;
    align-items: center;
  background: rgba(24, 24, 24, 0.5);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
          
}
.title-box {
    display: flex; 
    align-items: center;
}
.title{
    text-decoration: none;
    color: white;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 900;
}
.user-profile-m{
  margin-top: -1.25rem;
  position: absolute;
  right: 3em;
  display:block;
  background: transparent;
  color: white;
  border: 1px solid white;
  font-size: 1rem;
  padding: .75rem .75rem;
  border-radius: 5.597px;
  cursor: pointer;
}
.user-profile-m:hover{
  position: absolute;
  right: 3em;
  display:block;
  background: transparent;
  color: white;
  background: #1f9b60ff;
  border: 1px solid #1f9b60ff;
  font-size: 1rem;
  padding: .75rem .75rem;
  border-radius: 5.597px;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.user-profile{
  display: none;
}
.menu-box{
    position: absolute;
    top: 1.25rem;
    right: .3rem;
  }
.logo{
    padding: 1.5rem .5rem 1.5rem .5rem ;
  height: 35px;
  width: 30px;
}

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  }
  .for-elite{
    background-color: #1f9b60ff;
    color: white;
    font-weight: 700;
    padding: 0 .75em 0 .05em;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  }
  .line {
    fill: none;
    stroke: white;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .show{
    visibility: visible;
    display: block;
  }
  .hide{
    visibility: hidden;
    display: none;
  }
  nav{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgb(36, 36, 36));
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    z-index: 999;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    top: 5rem;
    width: 100%;
    position: absolute;
    gap: .05rem;
    height: 100vh;
    margin-left: -.5rem;
    padding: .5rem 0 0 .5rem;
    border-top: 2px solid #1f9b60ff;
    z-index: 1000;
  }
  .link{
    border-bottom: .005em solid rgba(255, 255, 255, 0.301);
    margin: -0.35em 0 .5rem 0;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    padding: .95rem .5rem .75rem .5rem;
}
.link:hover{
    margin: -0.35em 0  .5rem 0;
    font-size: 1.5rem;
    color: #1f9b60ff;
    font-weight: 700;
    padding: .95rem .5rem .75rem .5rem;
}
.main-box{
    position: relative;
    z-index: 1;
}

/* Tablet screens */
@media (max-width: 1200px) and (min-width: 768px) {
  .header{
    width:96%;
    left: 2%;
    margin-top: .2rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom-right-radius:.5rem;
    border-bottom-left-radius: .5rem;
    border:.005em solid rgba(255, 255, 255, 0.562);
  }
  .navbar {
    display: flex;
    flex-direction: column;
    top: 5rem;
    width: 100%;
    position: absolute;
  background: rgba(24, 24, 24, );
  -webkit-backdrop-filter: saturate(180%) blur(20px);
   backdrop-filter: saturate(180%) blur(20px);
    gap: .05rem;
    height: 100vh;
    margin-left: -.5rem;
    padding: .5rem 0 0 .5rem;
    border-top: 2px solid #1f9b60ff;
    margin-top: 1em;
    border-radius: 1em;
  }
  .title{
    font-size: 1.5rem;
   }
  }
  
  /* Desktop screens */
  @media (min-width: 1200px) {
    .header{
      width:96%;
      left: 2%;
      margin-top: .2rem;
      border-top-left-radius: .5rem;
      border-top-right-radius: .5rem;
      border-bottom-right-radius:.5rem;
      border-bottom-left-radius: .5rem;
    border:.005em solid rgba(255, 255, 255, 0.562);
    }
    .title{
      font-size: 1.5rem;
    }
    .user-profile-m{
      display: none;
    }
    .user-profile{
      display: block;
      background: transparent;
      color: white;
      padding: .75rem;
      border: 1px solid white;
      font-size: 1.2rem;
      border-radius: 5.597px;
      cursor: pointer;
    }
    .user-profile:hover{
      display:block;
      color: white;
      background: #1f9b60ff;
      border: 1px solid #1f9b60ff;
      font-size: 1.2rem;
      padding: .75rem;
      border-radius: 5.597px;
      transition: 0.3s ease-in;
      cursor: pointer;
    }
    .menu {
        display: none;
    }
    .login-btn{
      border: none;
      background: transparent;
      color: #1f9b60ff;
      font-size: 1.25rem;
      border-radius: 5.597px;
      border: 2px solid #1f9b60ff;
      text-decoration: none;
    }
    .login-btn:hover{
      border: none;
      background: rgb(35, 178, 109);
      color: white;
      font-size: 1.25rem;
      border-radius: 5.597px;
      border: 2px solid #1f9b60ff;
      transition: 0.3s ease-in;
      text-decoration: none;
    }
    .login-btn:hover{
      margin: 0;
    }
    .hide{
      display: block;
      visibility: visible;
    }
    .navbar{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 60%;
      right: 1em;
      position: absolute;
    background: none;
    -webkit-backdrop-filter: none;
     backdrop-filter: none;
     height: max-content;
      gap: .05rem;
      margin: -4.5rem 0 0 0;
      border:none;
    }
            .link{
    border:none;
        margin: 0 0 .5rem 0;
        font-size: 1.25rem;
        color: white;
        text-decoration: none;
        padding: .75rem .5rem .75rem .5rem;
    }
    .link:hover{
        margin: 0 0  .5rem 0;
        font-size: 1.25rem;
        color: #1f9b60ff;
        font-weight: 700;
        padding: .75rem .5rem .75rem .5rem;
    }
  }