:root {
    margin: 0;
}

body {
    margin: 0;
    /* Vertical center */
}
.testinomial{
    display: none;
}
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background:url("assets/images/fblback.svg");
    background-repeat: no-repeat;
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: .5rem;
    margin: .5Sem;
}
.log-box{
    margin: 5.5rem 0 0 0;
    background: rgba(36, 36, 36, 0.452);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    padding: 1.5rem;
    border-radius: 15.597px;
    /* text-align: center; */
}
.log-form{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.auto-login{
    padding: 2.2rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.g-icon{
    height: 100%;
    width: 100%;
}
.center-box{
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    text-align: center;
    padding: 1em;
    z-index: 1;

}
.line-l{
    display: block;
    width: 30%;
    position: absolute;
    margin: -1.52em 0em;
    border-top: .005em solid rgba(255, 255, 255, 0.562);
    z-index: -1;
}.line-r{
    display: block;
    width: 30%;
    right: .5rem;
    position: absolute;
    margin: -1.52em 1.5em 0 0;
    border-top: .005em solid rgba(255, 255, 255, 0.562);
    z-index: -1;
}
.log-btn{
    padding: .95rem;
    border: .05em #232323ff solid;
    border-radius: .5rem;
    cursor: pointer;
    background: #232323ff;
    color: white;
    height: 5em;
    width: 5em;
}
.req{
    color: #B23A48;
}
.log-btn:hover{
    padding: .95rem;
    border: .05em rgb(35, 178, 109) solid;
    border-radius: .5rem;
    cursor: pointer;
    background: #232323ff;
    color: white;
    height: 5em;
    width: 5em;
    transition: .4s ease-in;
}
.log-form{
    padding: 2.2rem 0;
}
fieldset{
    border: .005em gray solid;
    border-radius: .5rem;
    background: #232323ff;
    font-size: 1.05em;
    color: gray;
    width: 90%;
    margin: 0 -.5rem 0 0;
}
fieldset:hover{
    border-width: 0.005em 0.005em 0.005em 0.3em; 
    border-color: rgb(35, 178, 109);
    border-radius: .5rem;
    background: #181818ff;
    transition: .4s ease-in;
    color: #23b26d;
    font-weight: 500;
}

input{
    font-size: 1.05rem;
    color: white;
    border: none;
    background: transparent;
    height: 100%;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    outline: none;
}
.error-email::before{
    content: '!';
    color: #B23A48;
    font-size: 1rem;
    font-weight: 900;
    padding: 0 .5rem;
    margin: 0 0.5rem;
    border: .005em solid #B23A48;
    border-radius: 50%;

}
.error {
    border: 2px solid #B23A48 !important; /* Make the border red */
    background: #0e0101;
    color: #B23A48 !important; /* Make the legend text red */
}
.error input{
    color: #B23A48;
}
.error-text::before{
    content: '!';
    color: #B23A48;
    font-size: 1rem;
    font-weight: 900;
    padding: 0 .5rem;
    margin: 0 0.5rem;
    border: .005em solid #B23A48;
    border-radius: 50%;

}
.error-email {
    margin: -0.2em 0 0 0;
    background: #3e272768;
    padding: .5em;
    color: #B23A48 ; /* Error text color */
    border-radius: 5.597px;

}

.error-text {
    margin: 01.2em 0 0 0;
    background: #3e272768;
    padding: .5em;
    color: #B23A48 ; /* Error text color */
    border-radius: 5.597px;

}
.sign-btn{
    border: .055em solid rgb(35, 178, 109);
    border-radius: .5rem;
    background: rgb(35, 178, 109); 
    transition: .4s ease-in;
    color: white;
    padding: .5rem;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}
textarea{
    font-size: 1.05rem;
    color: white;
    border: none;
    background: transparent;
    height: 100%;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    outline: none;
}
.query{
    display: flex;
    flex-direction: column;
}
.q-email{
    margin: 0 0 2em 0;
}
.send-btn{
    border: .055em solid rgb(35, 178, 109);
    border-radius: .5rem;
    background: rgb(35, 178, 109); 
    transition: .4s ease-in;
    color: white;
    margin: 1.5rem 0 0 0 ;
    padding: .5rem;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 1200px) and (min-width: 768px) {
    fieldset{
        font-size: 1.25rem;
    }
    input{
        font-size: 1.25rem;
    }
    .line-r{
        margin: -1.52em 1.5em 0 0;
    }
}

@media (min-width: 1200px) {
    .testinomial{
        margin: 7rem 9rem 0 0;
        padding: 3em 4em;
        display: block; 
        background: rgba(36, 36, 36, 0.452);
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
    }
.login-container {
    justify-content: start;
    align-items: end;
    background-repeat: no-repeat;
}
.login-box {
    display: flex;
    justify-content: flex-start;
    align-items:start;
    padding: 1.5rem;
    
}
.log-box{
    margin: 0 2.3em;
    padding: 3.5rem 4rem;
    justify-self: end;
}
fieldset{
    font-size: 1.25rem;
    width:  23.5rem;
}
input{
    font-size: 1.25rem;
}
.line-r{
    margin: -1.52em 3.5em 0 0;
}
}