:root {
    margin: 0;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #1f9b60ff;
}

.dash-container {
    height: 100%;
}

.dash-box {
    display: flex;
}

.d-box {
    margin: 5em 0 0 0;
    padding: 2rem 0;
    width: 100%;
}

.d-box > h1 {
    text-align: center;
}
.profile-img-box{
    height: 5rem;
    width: 5rem; 
    border-radius: 50%;
    /* border: 3px solid white;   */
    background: rgb(45,149,85);
    background: linear-gradient(90deg, rgba(45,149,85,1) 36%, rgba(45,149,85,1) 55%, rgba(26,176,157,1) 83%, rgba(26,176,157,1) 93%, rgba(26,176,157,1) 99%);
    overflow: hidden;
}
.dash-profile-box{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;

    /* border: 1px solid white; */
    
}
.dash-cover-box{
    display: grid;
    justify-items: center;
    height: 100%;
    width: 100%;

    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px); 
}

.user-info-dashbox{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.dash-profile-img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.btn-profile{
    margin: 1em;
    padding: .5em .75em;
    border: none;
    background: transparent;
    color: #1f9b60ff;
    font-size: 1.05rem;
    border-radius: 5.597px;
    border: 1px solid #1f9b60ff;
    text-decoration: none;
    cursor: pointer;
}
.btn-profile:hover{
background: rgba(31, 155, 95, 0.17);
}
.user-profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-profile-info> p:first-child{
    margin: 1em 0  .5em 0;
    font-size: 1.5em;
    font-weight: 500;
}
.user-profile-info>p {
    margin: .5em 0 0 .5em;
}
.user-profile-info> p:last-child{
    margin: .5em 0  -.5em 0;
}
.contact-box{
    display: flex;
    gap: 1em ;
    margin: .5rem;
}
.contact-box> a{
    text-align: center;
    padding: .5em .75em;
    width: 5rem;
    border-radius: 5.597px;
    border: 1px solid #1f9b60ff
}
.dash-profile-box{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.user-info >h4{
    margin: 1rem 0 0 0;
    padding: 1rem  0 0 .9rem;
    text-align: left;
}
.user-desc{
    padding: 1rem;
    margin: 1rem;
    border-radius:  1rem;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px); 
}
.project-box>h4{
    margin: 1rem 0 0 0;
    padding: 1rem  0 0 .9rem;
    text-align: left;
}
.project-tag{
    height: 60%;
    padding: 1rem;
    margin: 1rem;
    border-radius:  1rem;
    background: rgba(0, 0, 0, 0.02);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px); 
  border: 1px solid rgb(255, 255, 255);
}
.profile-badge-dashbox
    >h4{
    margin: 1rem 0 0 0;
    padding: 1rem  0 0 .9rem;
    text-align: left;
}
.profile-badge-dashbox{
    grid-column: 1/2;
    grid-row: 2/2;
    
}
.profile-badge-box{
    height: 60%;
    padding: 1rem;
    margin: 1rem;
    border-radius:  1rem;
    background: rgba(0, 0, 0, 0.02);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px); 
  border: 1px solid rgb(255, 255, 255);
}
.profile-badge-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
.profile-badge-tag{
    border: 1px solid white;
    border-radius: 50%;
    height: 5em;
    width: 5rem;
}
/* Tablet Screens */
@media (max-width: 1200px) and (min-width: 768px) {
    .user-info-dashbox{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .profile-badge-dashbox{
        grid-column: 1/2;
        grid-row: 2/2;
    }
    .project-box{
        grid-column: 2/2;
    }
}
/* Desktop Screens */
@media (min-width: 1200px) {
    .user-info-dashbox{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .profile-badge-dashbox{
        grid-column: 1/2;
        grid-row: 2/2;
    }
    .project-box{
        grid-column: 2/4;
    }
}
